<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/center.css">
    <link rel="stylesheet" href="styles/style.css">

    <title>Document</title>
</head>
<body>
    <div id="center-div-it">
        <div class="flex flex-col space-x-4 space-y-10">
                <h1 class="text-6xl font-bold font-serif my-100">Different Inputs.</h1>
                <input type="text" class=" rounded-xl border-gray-500 border-2 py-2 px-6 focus:outline-none focus:ring focus:border-blue-500" placeholder="Type something..." >
                <input type="text" class=" rounded-xl border-gray-500 border-2 py-2 px-6 focus:outline-none focus:ring focus:border-red-500 " placeholder="Type something..." >
                <input type="text" class=" outline-none py-2 px-6  border-b-2 border-blue-500  transition focus:border-blue-200 delay-100 focus:border-gray-300 " placeholder="Type something..." >
        </div>
    </div>
</body>
</html>